In [1]:
#Import required libraries
import os

import pandas as pd

import csv
import time
import os
import csv
import re 
import string
import matplotlib.pyplot as plt
import pandas as pd


from datetime import datetime
from matplotlib.pyplot import xlabel,ylabel,title
from sklearn.metrics.pairwise import cosine_similarity
import tweepy
from tweepy import API
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
title = []
viewcount = []
likecount = []
try:
    os.remove('tweets1data.csv')
    #print "File deleted"
except:
    #print "File was not present already"
    pass

csvFile = open('youtubedata.csv', 'w')
csvWriter = csv.writer(csvFile)



from googleapiclient.discovery import build
youtube = build('youtube', 'v3', developerKey='AIzaSyBfoGn0960ZupAD7YiIdwfRe1MDbdg9F_U')

    
video_statistics= youtube.videos().list(id =['WluvF8Tj5tc','chZp2U09Qa8','frJV7qx9v6Y','KsnjW-sLNTo','FUQXSz4yV-w'],
                                        part=['statistics','snippet']).execute()
#print(video_statistics)

for i in range(5):
    likecount = int(video_statistics['items'][i]['statistics']['likeCount'])
    viewcount = int(video_statistics['items'][i]['statistics']['viewCount'])
    video_kind = video_statistics['items'][i]['kind']
   
    title = video_statistics['items'][i]['snippet']['title']
    print(likecount)
    print(viewcount)
    print(video_kind)

    print(title)

672
67064
youtube#video
Europe struggles with major wildfires and energy uncertainty amid 'heat apocalypse'
2757
310408
youtube#video
Massive California wildfire erupts
289
31488
youtube#video
Record heat in the Northwest as wildfires continue l GMA
50
3876
youtube#video
Wildfire In Texas Scorches 500 Acres As Crews Continue To Battle The Blaze
44
8160
youtube#video
Raw: New wildfire near Colfax prompts evacuation order

In [41]:
title1 = []
viewcount1 = []
likecount1 = []
try:
    os.remove('tweets1data.csv')
    #print "File deleted"
except:
    #print "File was not present already"
    pass

csvFile = open('youtubedata.csv', 'w')
csvWriter = csv.writer(csvFile)



from googleapiclient.discovery import build
youtube = build('youtube', 'v3', developerKey='AIzaSyBfoGn0960ZupAD7YiIdwfRe1MDbdg9F_U')

    
video_statistics= youtube.videos().list(id =['WluvF8Tj5tc','chZp2U09Qa8','frJV7qx9v6Y',
                                             "Rtjc3HIvFkY",'KsnjW-sLNTo','FUQXSz4yV-w',
                                             'RRhjqqe750A','Xkyq03pfYUs','Z5p0hhYmDFg',
                                             'Zn7WhBZ8J-M','f60Z4epksOk','erinPN6glcE',
                                             'I82qvaRmybM','lcUk1cYWY9I','aircAruvnKk',
                                             't4B99T_3IsM','6Gmohrod2kY','2pBRZ29yWyY','Bgv1KInL2ek','5DGwOJXSxqg'],
                                        part=['statistics','snippet',]).execute()



#print(video_statistics)




for i in range(5):
    likecount = int(video_statistics['items'][i]['statistics']['likeCount'])
    viewcount = int(video_statistics['items'][i]['statistics']['viewCount'])
    video_kind = video_statistics['items'][i]['kind']
   
    title = video_statistics['items'][i]['snippet']['title']
    youtube_data[title] = viewcount
    print(likecount)
    print(viewcount)
    print(video_kind)
    title1.append(title)
    likecount1.append(likecount)
    viewcount1.append(viewcount)

    print(title)

672
67066
youtube#video
Europe struggles with major wildfires and energy uncertainty amid 'heat apocalypse'
2757
310428
youtube#video
Massive California wildfire erupts
289
31501
youtube#video
Record heat in the Northwest as wildfires continue l GMA
15149
422525
youtube#video
Pavlich: Democrats are living by their own rules now on illegal immigration
50
3899
youtube#video
Wildfire In Texas Scorches 500 Acres As Crews Continue To Battle The Blaze

In [42]:
youtube_data = pd.DataFrame({'Title':title1,'View_Count':viewcount1,'Like_Count':likecount1})

In [43]:
import pandas as pd
print(youtube_data)

                                               Title  View_Count  Like_Count
0  Europe struggles with major wildfires and ener...       67066         672
1                 Massive California wildfire erupts      310428        2757
2  Record heat in the Northwest as wildfires cont...       31501         289
3  Pavlich: Democrats are living by their own rul...      422525       15149
4  Wildfire In Texas Scorches 500 Acres As Crews ...        3899          50

In [44]:
youtube = pd.DataFrame(data = youtube_data, columns = ['title','viewcount'],index=[0,1,2,3,4])

In [45]:
print(youtube_data.head())

                                               Title  View_Count  Like_Count
0  Europe struggles with major wildfires and ener...       67066         672
1                 Massive California wildfire erupts      310428        2757
2  Record heat in the Northwest as wildfires cont...       31501         289
3  Pavlich: Democrats are living by their own rul...      422525       15149
4  Wildfire In Texas Scorches 500 Acres As Crews ...        3899          50

In [46]:
youtube_data.head()

                                               Title  View_Count  Like_Count
0  Europe struggles with major wildfires and ener...       67066         672
1                 Massive California wildfire erupts      310428        2757
2  Record heat in the Northwest as wildfires cont...       31501         289
3  Pavlich: Democrats are living by their own rul...      422525       15149
4  Wildfire In Texas Scorches 500 Acres As Crews ...        3899          50

In [50]:
def clean_text(text):
  text = re.sub(r'@[A-Za-z0-9]+','',text) #removes @mentions
  text = re.sub(r'#','',text) #removes # tags
  text = re.sub(r'\\n','',text) #removes # tags
  text = re.sub(r'RT[\s]+','',text) #removes RT
  text = re.sub(r'https?:\/\/\S+','',text) #removes urls

  return text
youtube_data['clean_text']=youtube_data['Title'].apply(clean_text)

#display clean text
youtube_data.head(5)

,Title,View_Count,Like_Count,clean_text
0,Europe struggles with major wildfires and ener...,67066,672,Europe struggles with major wildfires and ener...
1,Massive California wildfire erupts,310428,2757,Massive California wildfire erupts
2,Record heat in the Northwest as wildfires cont...,31501,289,Record heat in the Northwest as wildfires cont...
3,Pavlich: Democrats are living by their own rul...,422525,15149,Pavlich: Democrats are living by their own rul...
4,Wildfire In Texas Scorches 500 Acres As Crews ...,3899,50,Wildfire In Texas Scorches 500 Acres As Crews ...

In [51]:
tf_idf = TfidfVectorizer(stop_words='english')

tf_idf_matrix = tf_idf.fit_transform(youtube_data['Title']);
print(tf_idf)
print(tf_idf_matrix)

TfidfVectorizer(stop_words='english')
  (0, 3)	0.34706676322953556
  (0, 14)	0.28001127926354535
  (0, 2)	0.34706676322953556
  (0, 27)	0.34706676322953556
  (0, 10)	0.34706676322953556
  (0, 29)	0.28001127926354535
  (0, 18)	0.34706676322953556
  (0, 25)	0.34706676322953556
  (0, 12)	0.34706676322953556
  (1, 11)	0.5233582502695435
  (1, 28)	0.4222421409859579
  (1, 6)	0.5233582502695435
  (1, 19)	0.5233582502695435
  (2, 13)	0.4493418549869352
  (2, 7)	0.36252617931707154
  (2, 20)	0.4493418549869352
  (2, 22)	0.4493418549869352
  (2, 14)	0.36252617931707154
  (2, 29)	0.36252617931707154
  (3, 16)	0.40824829046386296
  (3, 15)	0.40824829046386296
  (3, 23)	0.40824829046386296
  (3, 17)	0.40824829046386296
  (3, 9)	0.40824829046386296
  (3, 21)	0.40824829046386296
  (4, 5)	0.34706676322953556
  (4, 4)	0.34706676322953556
  (4, 8)	0.34706676322953556
  (4, 1)	0.34706676322953556
  (4, 0)	0.34706676322953556
  (4, 24)	0.34706676322953556
  (4, 26)	0.34706676322953556
  (4, 7)	0.28001127926354535
  (4, 28)	0.28001127926354535

In [52]:
cosine_similarity_matrix = cosine_similarity(tf_idf_matrix, tf_idf_matrix)
print(cosine_similarity_matrix)

[[1.         0.         0.20302284 0.         0.        ]
 [0.         1.         0.         0.         0.11823256]
 [0.20302284 0.         1.         0.         0.10151142]
 [0.         0.         0.         1.         0.        ]
 [0.         0.11823256 0.10151142 0.         1.        ]]

In [56]:
def index_from_title(df,title):
    return df[df['Title']==title].index.values[0]


# function that returns the title of the movie from its index

def title_from_index(df,index):

    return df[df.index==index].title.values[0]


# generating recommendations for given title

def recommendations( title, df,cosine_similarity_matrix,number_of_recommendations):

    index = index_from_title(df,title)

    similarity_scores = list(enumerate(cosine_similarity_matrix[index]))

    similarity_scores_sorted = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    recommendations_indices = [t[0] for t in similarity_scores_sorted[1:(number_of_recommendations+1)]]

    return df['title'].iloc[recommendations_indices]

In [58]:
recommendations('stock', youtube_data, cosine_similarity_matrix, 5)

IndexError: index 0 is out of bounds for axis 0 with size 0